<!DOCTYPE html>
<html lang="en" dir="ltr"></html>
    <script type="text/javascript">
        window.postId = '<%= postId %>';
    </script>
    <%- include('../../partials/head.ejs') %>
    <body>
        <div class="grid grid-rows-[auto_1fr_auto] min-h-screen">
            <%- include('../../partials/header.ejs') %>
           <main class="bg-gray-50">
                <div class="py-4 px-4 mx-auto max-w-[800px]">
                    <h2 id='title' class="text-2xl font-bold text-gray-900"></h2>
                    <div id="description"></div>
                    <hr class="my-4" />

                    <div>
                        <p class="text-sm">
                            Este post foi criado utilizando inteligência artificial.<br />
                            Primeiro um video do YouTube foi transcrito e depois geramos um post baseado em um Avatar.
                            <br />
                            Video Original: <a
                                class="font-medium text-green-600 underline hover:no-underline"
                                href='#'
                                id='postVideoUrl'></a>
                        </p>
                    </div>
                </div>
            </main>
            <%- include('../../partials/footer.ejs') %>
        </div>

        <script type='module' src="/dist/pages/blog/post-view.js"></script>
        <%- include('../../partials/loading-overlay.ejs', { show: true }) %>
    </body>
</html>